{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>
    <table class="table w-25 text-center table-responsive">
        <thead>
            <tr>
                <th class="bg-primary text-white">Intitulé</th>
                <th class="bg-primary text-white">Nombre de sessions </th>
            </tr>
        </thead>
        <tbody>

        {% for formation in formations %}
            <tr>
                <td class="bg-light">
                    <a class="text-decoration-none" href="#">{{ formation }}</a>
                </td>
                <td class="bg-light text-decoration-none">
                    {{ formation.sessions|length }}
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>

{% endblock %}
