{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block metaTag %}
    <meta name="description" content="Page d'accueil du site de gestion et d'administration de formations, de leurs sessions et de stagiaires">
{% endblock %}

{% block body %}
    <h1>Interface de gestion de sessions de formations</h1>

    {% if app.user %}
        <h2>Bonjour {{ app.user }}</h2> 
    {% endif %}
{% endblock %}
