{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Interface de gestion de sessions de formations</h1>

    {% if app.user %}
        <h2>Bonjour {{ app.user }}</h2> 
    {% endif %}
{% endblock %}
