#infos {
    background-color: aliceblue;
    padding: 1rem 2rem;
}

h1 + ul,
h2 + ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    flex-direction: column;
    margin: 1rem 0;
}

h2 + ul li a {
    color: unset;
    text-decoration: none;
}

h2 + ul li a:last-of-type {
    font-size: 14px;
    opacity: 80%;
}

h1 + ul li span {
    font-weight: bold;
}

@media screen and (max-width:480px) { /* smartphone */

    h1 + ul li span, /* = Nom: Prénom: Courriel: .. */
    h2 + ul li a:first-of-type { /* = Dates des sessions ("20/02/2023 au 12/05/2023")  */
        font-size: 14px;
    }

    h2 + ul li a:last-of-type{ /* = Formations entre parenthèses après les sessions (Développeur web et web mobile..) */
        font-size: 12px;
    }

    h2 {
        font-size: 1.1rem;
    }
}