* {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
    padding:2.5%;
}

input:focus {
    outline: none;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

/* look like a font-weight: bold; transition on text of this class */
.text-hover:hover {
    text-shadow:
        -0.3px -0.3px 0 currentColor,
        0.3px -0.3px 0 currentColor,
        -0.3px 0.3px 0 currentColor,
        0.3px 0.3px 0 currentColor;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
}

/* <tr> faisant guises de liens à la place des anciennes balises <a> */
.row-link {
    cursor:pointer;
}

.row-link:hover {
    opacity: 85%;
}

/* les petits liens "Déjà inscris ? Connectez-vous" et l'inverse pour s'inscrire depuis log in */
.security-redirect a {
    text-decoration: none;
    color:unset;
}

.security-redirect {
	margin: 1rem 0;
}

/* --------------------------------------------------------------------------- */
/* NAV ----------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

/* responsive nav */
#user-nav,
#nav-menu,
#openBtn,
#openBtn + a {
	display:none;
}

nav {   
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    padding: 1rem;
    background-color: #e3f0ff;
}

nav a {
    color: #121d27;
    text-decoration: none;
    transition: .3s;
}

nav ul {
	list-style-type: none;
}

#nav-left li:first-of-type a {
    font-weight: bold;
    font-size: 2rem;
}

/* hover effect underline */
.underline-hover {
	position: relative;
}
.underline-hover::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.underline-hover:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* div:first-of-type = nav links */
/* div:nth-of-type(2) = auth links */
#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    gap:2rem;
}

/* messages d'erreurs sur les forms login/register */
.error ul li,
label + ul li,
.error p {
	font-size: 14px;
    list-style: none;
    color: #cf2a2a;
    font-weight: bold;
}

.goback-link {
	display:none;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

@media screen and (max-width:768px) { /* tablet */

	h1 {
		font-size: 1.3rem;
	}

	h2 {
		font-size: 1rem;
	}

	/************************************************************************/
	/* nav ******************************************************************/
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #e3f0ff;
		padding: 5%;
	}

	#openBtn + a {
		font-size: 26px;
	}
	
	#nav-left,
	#nav-right {
		display: none;
	}

	#user-nav,
	#nav-menu,
	#openBtn,
	#openBtn + a {
		display:block;
	}
	
	#openBtn {
		cursor: pointer;
		height: 27px;
		width: 27px;
		overflow: visible;
		position: relative;
		z-index: 3;
	}
	#openBtn span,
	#openBtn span:before,
	#openBtn span:after {
		border-radius: 5px;
		background: #000000;
		display: block;
		height: 4px;
		opacity: 1;
		position: absolute;
		transition: 0.3s ease-in-out;
	}

	#openBtn span:before,
	#openBtn span:after {
		content: "";
	}
	#openBtn span {
		right: 0px;
		top: 13px;
		width: 27px;
	}
	#openBtn span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}
	#openBtn span:after {
		left: 0px;
		top: 10px;
		width: 27px;
	}
	
	#openBtn.close span {
		transform: rotate(-45deg);
		top: 13px;
		width: 27px;
	}
	#openBtn.close span:before {
		top: 0px;
		transform: rotate(90deg);
		width: 27px;
	}
	#openBtn.close span:after {
		top: 0px;
		left: 0;
		transform: rotate(90deg);
		opacity: 0;
		width: 0;
	}

	#openBtn.close span,
	#openBtn.close span:before,
	#openBtn.close span:after {
		background-color: #fff;
		border-radius: 5px;
	}
	
	#user-nav {
		display: inline-flex;
		gap: 1rem;
	}
	
	#user-nav a {
		font-size:18px;
	}
	
	#nav-menu {
		z-index: 2;
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		top: 0;
		height: 0;
		visibility: hidden;
		opacity: 0;
		text-align: center;
		transition: all 0.3s ease-in-out;
		padding: 0;
	}
	
	#nav-menu.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 100px;
		background: rgba(0, 0, 0, 0.78);
	}
	
	#nav-menu li {
		list-style: none;
	}
	
	#nav-menu a {
		color: white;
		display: block;
		font-size: 32px;
		margin-bottom: 30px;
		text-decoration: none;
	}
	/************************************************************************************/

	/* les petits liens de redirect dans les forms d'authentification: register sur la vue login inversement */
	.security-redirect {
		font-size: 14px;
		text-align: center;
	}

	.security-redirect a {
		font-weight: bold;
	}

	/* les petits liens de redirect en arrière */
	.goback-link {
		display:unset;
		text-decoration: none;
		color: unset;
		font-size: 0.8rem;
		opacity: 66%;
	}

	/* messages d'erreurs sur les forms login/register */
	.error ul li,
	label + ul li,
	.error p {
		font-size: 12px;
		list-style: none;
		color: #cf2a2a;
		font-weight: bold;
		padding:5px 0;
	}
}
