table {
    border-spacing: 0;
    background-color: #eff5fc;
}

thead th,
table td {
    padding: .5rem 2rem;
    font-weight: normal;
    text-align: start;
}

thead {
    background-color: #7f91aa;
    color: white;
}

table a {
    text-decoration: none;
    color:unset;
    transition: .3s;
}

tr {
    transition: .3s;
}

.tablerow-hover:hover {
    background-color: #c1d2e5;
}

.formation {
    background-color: #466373;
}

.formation td {
    color: white;
    font-size: 14px;
}

.show-btn,
.delete-btn {
    color: #2b3c46;
}

.show-btn:hover {
    opacity: 70%;
}

.delete-btn:hover {
    color:rgb(179, 42, 42);
}

.new-btn {
    text-align: center;
    background-color: #d2def0;
}

.new-btn a {
    color:#151515;
    transition: .3s;
}

.fa-list-ul {
    font-size: 20px;
}