table {
    border-spacing: 0;
    background-color: #eff5fc;
    overflow: hidden;
}

thead th,
table td {
    padding: .5rem 2rem;
    font-weight: normal;
    text-align: start;
}

thead {
    background-color: #6b8bb8;
    color: white;
}

table a {
    text-decoration: none;
    color:unset;
    transition: .3s;
}

tr,
.delete-btn i {
    transition: .3s;
}

.tablerow-hover:hover {
    background-color: #c1d2e5;
}

.delete-btn:hover i {
    color:rgb(179, 42, 42);
    transform: scale(1.1);
}

.new-btn {
    text-align: center;
    transition: .6s;
}

.new-btn a {
    color:#151515;
    transition: .3s;
}

.new-btn:hover {
    transform: translate(5%);
}

@media screen and (max-width:768px) { /* tablet */

    thead th,
    table td {
        padding: 0.5rem;
    }

}

@media screen and (max-width:480px) { /* smartphone */

    thead th,
    table td {
        padding: 0.5rem;
    }

    table th {
        font-size: 14px;
    }

    table td {
        font-size: 13px;
    }
}

@media screen and (max-width:320px) { /* smartphone-- */

    thead th,
    table td {
        padding: 5px;
    }

    table th {
        font-size: 13px;
    }

    table td {
        font-size: 12px;
    }
}