{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block metaTag %}
    <meta name="description" content="Formulaire d'ajout d'un nouveau stagiaire">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}">
{% endblock %}

{% block body %}

    <h1>Ajouter un stagiaire</h1>

    {{ form(addStagiaireForm) }}

{% endblock %}
