{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block body %}

    <h1>Ajouter un stagiaire</h1>

    {{ form(addStagiaireForm, {'attr': {'class': 'w-50 m-2'}}) }}

{% endblock %}
