{% extends 'base.html.twig' %}

{% block title %}Ajouter un stagiaire{% endblock %}

{% block metaTag %}
    <meta name="description" content="Formulaire d'ajout d'un nouveau stagiaire">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}">
{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Modifier un(e) stagiaire</h1>
    {% else %}
        <h1>Ajouter un(e) stagiaire</h1>    
    {% endif %}

    {{ form(addStagiaireForm) }}

{% endblock %}
