{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/form.css') }}">
{% endblock %}

{% block body %}

    <h1>Ajouter une session</h1>

    {{ form(addSessionForm) }}

{% endblock %}
